body {
    margin:0;
    padding:0;
}
header {
    background-color:#069;
    height:50px;
    width:100%;
    position:fixed;

}
a.button {
    padding:10px 20px;
    background-color:#096;
    border-radius:5px;
    text-decoration:none;
    color:#FFF;
    font-weight:bold;
    font-size:1.2em;
}
a.button:hover {
    background-color:#999;
}
div#page {
    float:left;
    width:100%;
    margin-top:50px;
}
div#page nav {

    background-color:#000;
    float:left;
    width:200px;
    min-height:100vh;
}
div#page ul h2 {
    color:#FFF;
    text-transform:uppercase;
    padding:5px;
    border-bottom:1px solid #333;
    margin:5px;
}
div#page ul {
    margin:0;
    padding:0;
}
div#page li {
    margin:0;
    padding:0;
}
div#page li a {
    width:180px;
    display:inline-block;
    color:#FFF;
    text-decoration: none;
    padding: 10px 10px;
    margin-top:2px;
    background-color:#333;
}
div#page li a:hover {
    background-color:#900;
}
div#page div#content {

    float:left;
    min-height:100vh;
}
