body {
    margin:0;
    padding:0;
}
header {
    background-color:#069;
    height:50px;
    width:100%;
    position:fixed;

}
a.button {
    padding:10px 20px;
    background-color:#096;
    border-radius:5px;
    text-decoration:none;
    color:#FFF;
    font-weight:bold;
    font-size:1.2em;
}
a.button:hover {
    background-color:#999;
}
div#page {
    float:left;
    width:100%;
    margin-top:50px;
}

div#page nav {

    background-color:#000;
    float:left;
    width:200px;
    min-height:100vh;
}
div#page div#content {

    float:left;
    min-height:100vh;
}